/***** BASE STYLES*****/

body{
  font-family:"Source Sans Pro", sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}


/***** HEADER *****/

header {
    background: url('../img/haute-chocolate-background-with-header.png');
    background-size: cover;
    height: 800px;
}
header h1 {
    color: #5a733f;
    font-family: 'Lora', serif;
    font-size: 40px;
    padding: 50px 0;

}
nav {
    float: right;
    padding: 75px 40px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #7F3D17;
    font-size: 18px;
    padding-left: 80px;
    text-transform: uppercase;
    text-decoration: bold;
}

header h2 {
    clear: both;
    color: #9b9b9b;
    font-family: 'Lora', serif;
    font-size: 50px;
    line-height:80px;
    padding: 20px 0;
    width: 1000px;
}
header h2 span {
    color: #2b2b2b;
}


/***** ABOUT *****/

#about .full-width {
  padding: 50px 0;
}

#about h2 {
  font-family: "Lora", serif;
  font-size: 36px;
}

#about p {
  color: #7F7F7F;
  font-size: 20px;
  line-height: 40px;
  padding-right: 20px;
}

/***** WORK *****/

#work {
  background-color: #fae3d9;
  text-align: center;
}

#work .one-eight-width{
  padding: 50px auto;
}

#work img {
    padding-bottom: 40px;
    padding-top: 80px;
}
#work h3 {
    font-size: 30px;
    margin: 0 50;
    width: 300px;
    text-align:center;
    padding-left: 150px;
  }
  #work h4 {
    text-align:center;
    float:right;
  }

#work p {
    color:#2B2B2B;
    font-family: "Lora", serif;
    font-size:20px;
    line-height:40px;
    padding: 20 0px;
    width: 50px;
    float:left;

}

/***** CONTACT *****/

#contact {
    background-color: #ffffff;
}
#contact .full-width{
    padding:110px 0;
}

#contact-img{
    border: 2000px solid #ffffff;
}
#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;

}
#envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family:"Lora", serif;
    font-size:36px;
}
#email-header {
    font-size:32px;
    font-weight:400;
    margin: -30px 0 5px 0;
}
#socialmedia-header {
    font-weight: bold;
    font-size:29px;
    margin: 40px 0 0 0;
}
#contact a {
    color:#C49075;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 120px;
}
